<div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <h3>{{profileForm.value | json}}</h3>
        <div>
            <label>First Name</label>
            <input type="text" formControlName="firstName">
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" formControlName="lastName">
        </div>
        <br>
        <div formGroupName="address">
            <h4>Address</h4>
            <div>
                <label for="street">Street: </label>
                <input id="street" type="text" formControlName="street">
            </div>

            <div>
                <label for="city">City: </label>
                <input id="city" type="text" formControlName="city">
            </div>

            <div>
                <label for="state">State: </label>
                <input id="state" type="text" formControlName="state">
            </div>

            <div>
                <label for="zip">Zip Code: </label>
                <input id="zip" type="text" formControlName="zip">
            </div>
        </div>
        <br>
        <div>
            <div *ngFor="let phone of phoneNumbers.controls; let i = index" formArrayName="phoneNumbers">
                <div>
                    <label for="phone-{{i}}">{{i !== 0 ? 'Alternate' : ''}} Phone number {{i !== 0 ? i : ''}}: </label>
                    <input [formControlName]="i" type="text" placeholder="alt mob">
                    <button *ngIf="i !== 0" (click)="removePhoneNumberField(i)">Remove</button>
                </div>
            </div>
            <button type="button" (click)="addPhoneNumber()">Add alternate Phone number</button>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>